/* ----- Section Header ----- */

.head {
   padding: 15px 0;
   background: #fafbfc;
   box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
}

.menu__item {
   color: #383838;
   position: relative;
}

.menu__item:not(:last-child) {
   margin-right: 15px;
}

.menu__item::after {
   content: "";
   display: block;
   height: 2px;
   background: #26afff;
   width: 100%;
   opacity: 0;
   transition: all 1s ease;
   position: absolute;
   top: 50px;
}

.menu__item:hover::after {
   opacity: 1;
}

.menu__link {
   color: inherit;
}

.menu__link:hover {
   color: #26afff;
}

.menu__item_active::after {
   content: "";
   display: block;
   height: 2px;
   background: #26afff;
   width: 100%;
   opacity: 1;
   transition: all 1s ease;
   position: absolute;
   top: 50px;
}

.menu__link_active {
   color: #26afff;
}

.head__call {
   margin-left: auto;
}

.call__icon {
   width: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 10px;
   border-radius: 50%;
   background: linear-gradient(90deg, #00ccff 0%, #00a2ff 100%);
   box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
}

.call__action {
   font-size: 17px;
}

.call__order,
.call__tel {
   display: block;
}

.call__order {
   font-weight: 700;
   line-height: 140%;
   color: #26afff;
}

.call__tel {
   color: #383838;
}

.call__order:hover,
.call__tel:hover {
   color: #26afff;
}

.head__burger {
   width: 30px;
   height: 30px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
}

.head__burger span {
   display: block;
   width: 100%;
   height: 4px;
   background-color: #383838;
   border-radius: 5px;
}

.header-content {
   background: #383838;
   padding: 48px 0;
}

.bread-crumbs__title {
   font-size: 25px;
   line-height: 30px;
   color: #fff;
   text-align: left;
}

.bread-crumbs__list {
   display: flex;
   justify-content: end;
}

.bread-crumbs__item {
   color: #ccc;
   font-size: 17px;
   line-height: 21px;
}

.bread-crumbs__item_active {
   color: #fff;
}

.bread-crumbs__item:not(:last-child)::after {
   content: '/';
   color: #ccc;
   margin-right: 10px;
   margin-left: 10px;
}

/* ----- Section Reasons ----- */
.reasons {
   padding: 150px 0;
}

.reason-content {
   margin-left: 30px;
}

.reason-content__description {
   font-size: 17px;
   margin-top: 25px;
   line-height: 140%;
}

.reason-supervisor {
   background: #F3F9FB;
   width: 525px;
   margin-left: 145px;
   padding: 35px 15px 35px 35px;
   position: relative;
}

.reason-supervisor__img {
   position: absolute;
   left: -45px;
   border-radius: 50%;
}

.reason-supervisor__title {
   line-height: 150%;
   letter-spacing: 0.01em;
   width: 320px;
   margin-bottom: 16px;
}

.reason-supervisor__subtitle_bold {
   font-weight: 700;
   font-size: 17px;
   line-height: 150%;
}

.reason-supervisor__signature {
   position: absolute;
   right: 0;
   bottom: 0;
}

/* ----- Section Progress ----- */
.progress {
   background: url('../img/company/progress-bg.jpg');
   padding: 145px 0 200px;
   min-height: 550px;
}

.progress-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 218px;
   margin: 0 auto;
}

.progress-item__percent {
   font-family: "ProximaNova-300";
   font-weight: 300;
   font-size: 45px;
   line-height: 150%;
   letter-spacing: 0.01em;
   color: rgba(255, 255, 255, 0.8);
   width: 193px;
   height: 193px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.progress-item__percent_first {
   background: url('../img/company/percent-bg-1.png') no-repeat center;
}

.progress-item__percent_second {
   background: url('../img/company/percent-bg-2.png') no-repeat center;
}

.progress-item__percent_third {
   background: url('../img/company/percent-bg-3.png') no-repeat -30px center;
}

.progress-item__percent_fourth {
   background: url('../img/company/percent-bg-4.png') no-repeat -30px -30px;
}

.progress-item__subtitle {
   color: #fff;
   margin-top: 25px;
   letter-spacing: 0.07em;
}

/* ----- Section Team ----- */
.team {
   padding: 150px 0;
}

.team__title {
   margin-bottom: 85px;
}

.team-item {
   max-width: 385px;
   position: relative;
   
}

.team-item__img {
   width: 100%;
   display: block;
}

.team-item__post {
   position: absolute;
   right: 0;
   bottom:73px;
   font-size: 12px;
   color: #fff;
   width: 140px;
   text-align: center;
   background: #26AFFF;
   z-index: 10;
   padding: 10px 5px;
}

.team-item__worker {
   border-radius: 2px;
   box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
   width: 345px;
   padding: 25px;
   margin-left: auto;
   display: flex;
}

.team-item__social {
   margin-left: auto;
}

.team-item__social-link {
   color: #062B31;
   font-size: 20px;
}

.team-item__social-link:hover {
   color: #6c7075;
}

.team-item__icon_facebook {
   margin-right: 18px;
}

/* ----- Footer ----- */
.footer {
   background: #383838;
   padding: 60px 0;
   color: #ccc;
   font-size: 15px;
   line-height: 150%;
   letter-spacing: 0.01em;
}

.about-footer__social {
   margin-top: 40px;
}

.social {
   width: 170px;
   display: flex;
   justify-content: space-between;
   font-size: 20px;

}

.social__link,
.footer-menu__link,
.phone__link,
.email__link {
   color: #ccc;
}

.social__link:hover,
.footer-menu__link:hover,
.phone__link:hover,
.email__link:hover {
   color: #fff;
}

.social__facebook {
   font-size: 18px;
}

.about-footer__text {
   width: 200px;
   margin-top: 40px;
}

.footer-nav__title,
.connection__title,
.mailing__title {
   font-size: 18px;
   line-height: 150%;
   letter-spacing: 0.01em;
   color: #ffffff;
   font-family: "ProximaNova-700";
}

.footer-menu {
   margin-top: 25px;
}

.footer-menu__item {
   margin-top: 22px;
}

.footer-menu__link {
   color: #ccc;
}

.footer-menu__link:hover {
   color: #fff;
}

.connection {
   width: 232px;
}

.address {
   width: 232px;
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
}

.address__icon {
   font-size: 20px;
   margin-top: 5px;
}

.address__text {
   width: 198px;
}

.phone {
   display: flex;
   align-items: start;
   margin-top: 20px;
}

.phone__img {
   opacity: 0.8;
   margin-top: 5px;
}

.phone__number {
   width: 130px;
   margin-left: 15px;
}

.email {
   display: flex;
   width: 232px;
   margin-top: 20px;
}

.email__icon {
   font-size: 18px;
   margin-top: 2px;
   margin-right: 15px;
}

.mailing {
   width: 370px;
}

.mailing__input {
   width: 100%;
   height: 50px;
   background: #494949;
   border-radius: 5px;
   border: 0;
   padding: 17px 27px;
   color: #fff;
   margin-top: 31px;
}

.mailing__btn {
   color: #fff;
   margin-top: 25px;
}

.security {
   margin-top: 60px;
}

.security__text {
   line-height: 150%;
   text-align: center;
   letter-spacing: 0.01em;
}

.security__text:not(:last-child) {
   margin-bottom: 25px;
}

.security__text:last-child {
   font-size: 14px;
   border-top: 1px solid #ccc;
   padding-top: 20px;
}

.security__text_invisible {
   display: none;
}
 