/* ------- Section Header ------- */
@media (max-width: 992px) {
  
  .header {
    min-height: 780px;
    background: url("../img/index/header-bg-768.jpg") center / cover;
  }

  .logo__img {
    width: 135px;
  }

  .nav {
    margin-left: 20px;
  }


  .menu__link {
    font-size: 13px;
  }

  .call__order, .call__tel {
    font-size: 13px;
  }

  .offer__subtitle {
    font-size: 22px;
  }

  .offer__title {
    font-size: 40px;
  }

  .offer__description {
    width: 545px;
  }
  
}

/* ----- Section Assistance ----- */
@media (max-width: 1199px) {
  .assistance {
    padding: 100px 0 60px;
  }

  .assistance::before {
    top: 300px;
  }
  
  .card {
    margin-top: 40px;
  }

  .consultation {
    text-align: left;
  }

  .consultation__btn {
    margin: 50px auto 0;
  }
}

/* ----- Section Cases ----- */

@media (max-width: 1199px) {
  .cases {
    padding: 50px 0 100px;
  }

  .cases-description {
    width: 730px;
  }

  .toggles {
    margin: 60px 0;
  }

  .case {
    justify-content: center;
    margin-top: 30px;
  }

  .case::before {
    right: 42%;
  }
}

@media (max-width: 768px) {
  .case::before {
    width: 200px;
    height: 280px;
  }

  .case__photo {
    max-width: 280px;
    height: 280px;
  }

  .case__img {
    width: 280px;
    height: 280px;
  }
}

/* ----- Section Contact ----- */
@media (max-width: 1199px) {
  .contact {
    padding: 85px 0 144px;
    background: none;
    background: url(../img/index/contact-bg-768.jpg) center / cover;
  }

  .contact-phone-bg, .contact-decor-bg {
    display: none;
  }

  .contact-content {
    margin: 0 auto;
  }

  .contact-content__title {
    text-align: center;
  }

  .contact-content__btn {
    display: block;
    margin: 35px auto 0;
  }
}