/* ------- Section Header ------- */
@media (max-width: 992px) {
  
  .header {
    min-height: 780px;
    background: url("../img/index/header-bg-768.jpg") center / cover;
  }

  .logo__img {
    width: 135px;
  }

  .nav {
    margin-left: 20px;
  }


  .menu__link {
    font-size: 13px;
  }

  .call__order, .call__tel {
    font-size: 13px;
  }

  .offer__subtitle {
    font-size: 22px;
  }

  .offer__title {
    font-size: 40px;
  }

  .offer__description {
    width: 545px;
  }
  
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }

  .head__burger {
    display: flex;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 36px;
  }
  
  .header {
    min-height: 660px;
  }

  .offer__subtitle {
    font-size: 20px;
  }

  .offer__title {
    font-size: 30px;
  }

  .offer__description {
    width: 380px;
  }

  .offer__btn {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .head__call {
    display: none;
  }
}

/* ----- Section Assistance ----- */
@media (max-width: 1199px) {
  .assistance {
    padding: 100px 0 60px;
  }

  .assistance::before {
    top: 300px;
  }
  
  .card {
    margin: 40px auto 0;
  }

  .consultation {
    text-align: left;
  }

  .consultation__btn {
    margin: 50px auto 0;
  }
}

@media (max-width: 575px) {
  .assistance::before {
    width: 50%;
  }
}

/* ----- Section Cases ----- */

@media (max-width: 1199px) {
  .cases {
    padding: 50px 0 100px;
  }

  .cases-description {
    width: 730px;
  }

  .toggles {
    margin: 60px 0;
  }

  .case {
    justify-content: center;
    margin-top: 30px;
  }

  .case::before {
    right: 42%;
  }
}

@media (max-width: 768px) {
  .cases-description {
    max-width: 100%;
  }

  .case::before {
    width: 200px;
    height: 280px;
  }

  .case__photo {
    max-width: 280px;
    height: 280px;
  }

  .case__img {
    width: 280px;
    height: 280px;
  }
}

@media (max-width: 575px) {
  
}

/* ----- Section Contact ----- */
@media (max-width: 1199px) {
  .contact {
    padding: 85px 0 144px;
    background: none;
    background: url(../img/index/contact-bg-768.jpg) center / cover;
  }

  .contact-phone-bg, .contact-decor-bg {
    display: none;
  }

  .contact-content {
    margin: 0 auto;
  }

  .contact-content__title {
    text-align: center;
  }

  .contact-content__btn {
    display: block;
    margin: 35px auto 0;
  }
}

@media (max-width: 992px) {
  .contact {
    padding: 120px 0;
  }
}

@media (max-width: 767px) {
  .contact {
    background: url(../img/index/contact-bg-sm.jpg) no-repeat center / 100% 100%;
  }

  .contact-content {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 22px;
  }
}

/* ----- Section New ----- */
@media (max-width: 1199px) {
  .new {
    padding: 100px 0;
  }

  .new-item_invisible {
    display: none;
  }

  .new-item {
    margin-left: 25px;
    margin-top: 85px;
  } 
}

@media (max-width: 992px) {
  .new-item {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .new-item {
    margin: 40px auto 0;
    padding-top: 0;
  }

  .new-img-wrap {
    padding-right: 0;
  }

  .new-item__photo {
    position: static;
    width: 100%;
  }

  .new-item__date {
    position: absolute;
    top: 25px;
    right: 15px;
  }

  .new-item__content {
    margin-top: 35px;
  }

  .new-item_invisible_sm {
    display: none;
  }
}

@media (max-width: 575px) {
  .new {
    padding: 60px 0;
  }
}

/* ----- Footer ----- */

@media (max-width: 1199px) {
  .mailing {
    width: 300px;
  }
}

@media (max-width: 991px) {

  .about-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
  }
  
  .about-footer__text {
    display: none;
  }

  .about-footer__social {
    margin-top: 0;
  }

  .mailing {
    margin-top: 55px;
    width: 100%;
  }

  .mailing__input {
    max-width: 370px;
    margin-right: 30px;
  }

  .mailing__btn {
    margin-top: 0;
  }

  .security {
    margin-top: 50px;
  }

  .security__text_invisible {
    display: block;
  }
}