/* ----- Подключение шрифтов ----- */
@font-face {
  font-family: "Bitter-400";
  src: url("../fonts/Bitter-400/Bitter-400.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Bitter-400/Bitter-400.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Bitter-400/Bitter-400.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Bitter-400/Bitter-400.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Bitter-400/Bitter-400.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Bitter-400/Bitter-400.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "Bitter-700";
  src: url("../fonts/Bitter-700/Bitter-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Bitter-700/Bitter-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Bitter-700/Bitter-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/Bitter-700/Bitter-700.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/Bitter-700/Bitter-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Bitter-700/Bitter-700.svg#svgFontName") format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "ProximaNova-400";
  src: url("../fonts/ProximaNova-400/ProximaNova-400.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-400/ProximaNova-400.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ProximaNova-400/ProximaNova-400.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ProximaNova-400/ProximaNova-400.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/ProximaNova-400/ProximaNova-400.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ProximaNova-400/ProximaNova-400.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "ProximaNova-600";
  src: url("../fonts/ProximaNova-600/ProximaNova-600.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-600/ProximaNova-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ProximaNova-600/ProximaNova-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ProximaNova-600/ProximaNova-600.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/ProximaNova-600/ProximaNova-600.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ProximaNova-600/ProximaNova-600.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@font-face {
  font-family: "ProximaNova-700";
  src: url("../fonts/ProximaNova-700/ProximaNova-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ProximaNova-700/ProximaNova-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/ProximaNova-700/ProximaNova-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/ProximaNova-700/ProximaNova-700.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../fonts/ProximaNova-700/ProximaNova-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/ProximaNova-700/ProximaNova-700.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

/* ------ Спецификация ------ */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "ProximaNova-400", sans-serif;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #383838;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a,
button,
input {
  transition: all 0.5s ease;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active,
a:hover,
a:focus {
  outline: none;
  box-shadow: none;
}

.container {
  max-width: 1170px;
}

.menu {
  font-family: "ProximaNova-600", sans-serif;
  font-weight: 600;
}

.call {
  display: flex;
  justify-content: center;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter-700", serif;
  margin: 0;
}

h1 {
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
}

h2 {
  font-size: 42px;
  line-height: 130%;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

h2 span {
  font-family: "Bitter-700", serif;
  display: block;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
  text-transform: none;
}

h3 {
  font-size: 26px;
  line-height: 140%;
  text-align: right;
}

h4 {
  font-family: "Bitter-400", serif;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

h5 {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.01em;
}

h6 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.01em;
}

.logo {
  width: 198px;
}

.logo:hover {
  opacity: 0.7;
}

.head__menu {
  max-width: 520px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.offer {
  color: #383838;
  text-align: center;
}

.btn {
  background: linear-gradient(90deg, #00ccff 0%, #00a2ff 100%);
  box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
  border-radius: 30px;
  font-family: "ProximaNova-700", sans-serif;
  font-size: 15px;
  line-height: 150%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  width: 270px;
  padding: 14px;
  transition: all 1s ease;
}

.btn:focus {
  box-shadow: none;
}

.read-link {
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #26afff;
}

.read-link::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #26afff;
  margin-left: 12px;
  margin-bottom: 3px;
}

/* ----- Section Header ----- */
.header {
  min-height: 998px;
  background: url("../img/index/header-bg-desk.jpg") center;
  padding-bottom: 100px;
}

.head {
  padding: 15px 0;
  background: #fafbfc;
  box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
}

.menu__item {
  color: #383838;
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 15px;
}

.menu__item::after {
  content: "";
  display: block;
  height: 2px;
  background: #26afff;
  width: 100%;
  opacity: 0;
  transition: all 1s ease;
  position: absolute;
  top: 54px;
}

.menu__item:hover::after {
  opacity: 1;
}

.menu__link {
  color: inherit;
}

.menu__link:hover {
  color: #26afff;
}

.head__call {
  margin-left: auto;
}

.call__icon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  background: linear-gradient(90deg, #00ccff 0%, #00a2ff 100%);
  box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
}

.call__action {
  font-size: 17px;
}

.call__order,
.call__tel {
  display: block;
} 

.call__order {
  font-weight: 700;
  line-height: 140%;
  color: #26afff;
}

.call__tel {
  color: #383838;
}

.call__order:hover,
.call__tel:hover {
  color: #26afff;
}

.header__content {
  padding: 110px 0 100px;
}

.header__offer {
  margin: 0 auto;
}

.offer__subtitle {
  font-family: Bitter;
  font-size: 25px;
  line-height: 140%;
  color: #383838;
  margin: 0;
}

.offer__title {
  margin: 10px 0 25px;
}

.offer__description {
  font-size: 17px;
  line-height: 140%;
  margin: 0 auto;
  width: 570px;
}

.offer__btn {
  color: #fff;
  margin-top: 30px;
}

.offer__btn:hover,
.consultation__btn:hover,
.mailing__btn:hover {
  color: #00a2ff;
  border: 1px solid #00a2ff;
  background: transparent;
}

/* ----- Section Assistance ----- */

.assistance {
  padding: 186px 0 100px;
  position: relative;
}

.assistance::before {
  content: "";
  display: block;
  width: 76%;
  height: 378px;
  background: #f3f9fb;
  position: absolute;
  top: 135px;
  right: 0;
  z-index: -5;
}

.consultation {
  text-align: right;
  width: 300px;
}

.consultation__title {
  margin: 0;
}

.consultation__text,
.cases-description__text {
  font-family: "ProximaNova-400", sans-serif;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin: 15px 0 25px;
}

.cards {
  justify-content: space-around;
}

.card {
  border: 0;
  width: 233px;
  text-align: center;
  margin-right: 0;
  padding: 40px 20px 30px;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
  border-radius: 5px;
}

.card__icon {
  width: 50px;
  height: 49px;
  display: block;
  margin: 0 auto;
}

.card__title {
  margin: 20px 0 15px;
}

.card__content {
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #858585;
}

.consultation__btn {
  display: block;
  color: #fff;
  margin-left: 40px;
  margin-top: -75px;
}

/* ----- Section Cases ----- */
.cases {
  padding: 100px 0 212px;
}

.cases-description {
  width: 636px;
}

.cases-description__text {
  margin-bottom: 0;
}

.toggles {
  display: flex;
  box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
  border-radius: 5px;
  width: 476px;
  margin-left: auto;
}

.toggle {
  width: 157px;
  height: 55px;
  border: 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #858585;
  background: #fff;
  transition: all 1s ease;
}

.toggle:not(:last-child) {
  border-right: 2px solid #dee6e9;
}

.toggle:first-child {
  border-radius: 5px 0 0 5px;
}

.toggle:last-child {
  border-radius: 0 5px 5px 0;
}

.toggle:hover {
  color: #fff;
  background: linear-gradient(90deg, #00ccff 0%, #00a2ff 100%);
}

.case {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.case__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      1.19deg,
      #062b31 -15.8%,
      rgba(6, 43, 49, 0) 99.03%
    ),
    rgba(0, 181, 255, 0.2);
  transition: all 0.5s ease;
  opacity: 0;
  display: flex;
  align-items: end;
  padding: 25px;
}

.overlay__link:hover {
  color: #fff;
}

.overlay__link:hover.overlay__link::after {
  background: #fff;
  opacity: 0.7;
}

.case:hover .case__overlay {
  opacity: 1;
}

.case::before {
  content: "";
  display: block;
  width: 290px;
  height: 370px;
  background: #f3f9fb;
  position: absolute;
  top: 0;
  right: 250px;
  z-index: -5;
}

.case__photo {
  width: 370px;
  height: 370px;
  position: relative;
}

.case__title {
  width: 192px;
  text-align: left;
  margin-top: 60px;
  margin-right: 10px;
}

/* ----- Section Contact ----- */

.contact {
  padding: 85px 0 144px;
  background: linear-gradient(90deg, #00ccff 0%, #00a2ff 100%);
}

.contact-container {
  position: relative;
}

.contact-phone-bg {
  position: absolute;
  top: -140px;
  right: 0;
}

.contact-decor-bg {
  position: absolute;
  top: 211px;
  left: 0px;
}

.contact-content {
  width: 570px;
  margin-left: 200px;
}

.contact-content__title {
  color: #fff;
}

.contact-content__btn {
  margin-top: 35px;
  margin-left: auto;
  color: #26afff;
  background: #fff;
  display: block;
}

.contact-content__btn:hover {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

/* ----- Section New ----- */
.new {
  padding: 158px 0 150px;
}

.new-title {
  text-align: right;
}

.pagination {
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.pgn-icon {
  width: 50px;
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.2);
  color: #26afff;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pgn-icon:hover {
  box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
}

.new-item {
  margin-top: 135px;
  margin-left: 30px;
  padding: 30px 15px 30px 30px;
  box-shadow: 0px 5px 30px rgba(206, 218, 228, 0.6);
  border-radius: 2px;
  position: relative;
  width: 354px;
}

.new-item__photo {
  position: absolute;
  top: -32px;
  left: -16px;
  opacity: 0.8;
}

.new-item__date {
  display: block;
  margin-left: auto;
  width: 75px;
  text-align: right;
  font-size: 10px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
  background: #26afff;
  box-shadow: 0px 5px 20px rgba(0, 163, 255, 0.4);
  border-radius: 2px;
  padding: 5px 0;
}

.new-item__title {
  width: 254px;
  margin-top: 160px;
}

.new-item__text {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #858585;
  width: 276px;
  margin-top: 15px;
}

.new-item__link {
  margin-top: 30px;
  display: block;
}

.new-item__link:hover {
  color: #26afff;
  opacity: 0.5;
}

/* ----- Footer ----- */
.footer {
  background: #383838;
  padding: 60px 0;
  color: #ccc;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.social {
  width: 170px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 40px;
}

.social__link,
.footer-menu__link,
.phone__link,
.email__link {
  color: #ccc;
}

.social__link:hover,
.footer-menu__link:hover,
.phone__link:hover,
.email__link:hover {
  color: #fff;
}

.social__facebook {
  font-size: 18px;
}

.about-footer__text {
  width: 200px;
  margin-top: 40px;
}

.footer-nav__title,
.connection__title,
.mailing__title {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-family: "ProximaNova-700";
}

.footer-menu {
  margin-top: 25px;
}

.footer-menu__item {
  margin-top: 22px;
}

.footer-menu__link {
  color: #ccc;
}

.footer-menu__link:hover {
  color: #fff;
}

.connection {
  width: 232px;
}

.address {
  width: 232px;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.address__icon {
  font-size: 20px;
  margin-top: 5px;
}

.address__text {
  width: 198px;
}

.phone {
  display: flex;
  align-items: start;
  margin-top: 20px;
}

.phone__img {
  opacity: 0.8;
  margin-top: 5px;
}

.phone__number {
  width: 130px;
  margin-left: 15px;
}

.email {
  display: flex;
  width: 232px;
  margin-top: 20px;
}

.email__icon {
  font-size: 18px;
  margin-top: 2px;
  margin-right: 15px;
}

.mailing__input {
  width: 370px;
  height: 50px;
  background: #494949;
  border-radius: 5px;
  border: 0;
  padding: 17px 27px;
  color: #fff;
  margin-top: 31px;
}

.mailing__btn {
  color: #fff;
  margin-top: 25px;
}

.security {
  border-top: 1px solid #ccc;
  margin-top: 50px;
  padding-top: 20px;
}

.security__text {
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
}
